.card-header4 {
	padding: 20px;
	text-align: center;
}

.card-edit {
	padding: 20px;
}

.card-edit input {
	margin-left: 10px;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 10px;
}

.card-edit .myinfo input[type="text"] {
	width: 25%;
	margin-right: 50px;
}

.card-edit .myinfo input[type="password"] {
	width: 31%;
}

.card-edit .title input {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 85.5%;
}

.card-edit .msg textarea {
	margin-left: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 10px #e6e6e6;
	min-width: 85.5%;
	max-width: 85.5%;
	min-height: 200px;
	max-height: 200px;
	vertical-align: top;
}

.card-edit .msg input {
	border: none;
	margin-left: 40px;
	padding: 10px;
}

.btn-edit a {
	padding: 10px;
	background-color: tomato;
	color: #fff;
	border-radius: 10px;
}