<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.gamerz.game.mapper.GameMapper">
	<select id="gameSelectList"
		resultType="co.yedam.gamerz.game.service.GameVO">
		SELECT * FROM VIDEOGAMES
	</select>

	<select id="gameSelect"
		resultType="co.yedam.gamerz.game.service.GameVO">
		SELECT * FROM VIDEOGAMES WHERE GAME_ID = #{gameId}
	</select>

	<select id="gameSearchList"
		resultType="co.yedam.gamerz.game.service.GameVO">
		SELECT * FROM VIDEOGAMES WHERE
		<if test="key != null">UPPER(GAME_NAME) LIKE '%'|| UPPER(#{key}) ||'%' </if>
	</select>

	<select id="gameGenreList"
		resultType="co.yedam.gamerz.game.service.GameVO">
		<![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN, V.* FROM (SELECT * FROM VIDEOGAMES WHERE GAME_GENRE = #{key} ORDER BY GAME_GENRE) V )
        WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
    ]]>
	</select>

	<select id="gameGcList"
		resultType="co.yedam.gamerz.game.service.GameVO">
		<![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN, V.* FROM (SELECT * FROM VIDEOGAMES WHERE GAME_GENRE = #{key} AND GAME_CLASSFICATION = #{cla} ORDER BY GAME_GENRE) V )
        WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
    ]]>
	</select>

	<select id="gamePcList"
		resultType="co.yedam.gamerz.game.service.GameVO">
		<![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN, V.* FROM (SELECT * FROM VIDEOGAMES WHERE GAME_PLATFORM = #{val} AND GAME_CLASSFICATION = #{cla} ORDER BY GAME_PLATFORM) V )
        WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
    ]]>
	</select>

	<select id="gamePlatformList"
		resultType="co.yedam.gamerz.game.service.GameVO">
		<![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN, V.* FROM (SELECT * FROM VIDEOGAMES WHERE GAME_PLATFORM = #{val} ORDER BY GAME_PLATFORM) V )
        WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
    ]]>
	</select>

	<select id="gameClassficationList"
		resultType="co.yedam.gamerz.game.service.GameVO">
		<![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN, V.* FROM (SELECT * FROM VIDEOGAMES WHERE GAME_CLASSFICATION = #{cla} ORDER BY GAME_CLASSFICATION) V )
        WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
    ]]>
	</select>
		
		<select id="gamePromotionList"
		resultType="co.yedam.gamerz.game.service.GameVO">
		<![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN, V.* FROM (SELECT * FROM VIDEOGAMES WHERE GAME_PRICE_DISCOUNT != 0 ORDER BY GAME_PRICE_DISCOUNT) V )
        WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
    ]]>
	</select>
		
		<select id="gamePromotionGenreList"
		resultType="co.yedam.gamerz.game.service.GameVO">
		<![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN, V.* FROM (SELECT * FROM VIDEOGAMES WHERE GAME_PRICE_DISCOUNT != 0 AND GAME_GENRE = #{key} ORDER BY GAME_PRICE_DISCOUNT) V )
        WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
    ]]>
	</select>

	<select id="gamePaging"
		resultType="co.yedam.gamerz.game.service.GameVO">
		<![CDATA[
		SELECT *
		FROM ( SELECT ROWNUM RN, V.* FROM ( SELECT * FROM VIDEOGAMES ) V )
		WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
		]]>
	</select>

	<select id="gameTotalCount" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM VIDEOGAMES
	</select>

	<select id="gameGenreTotalCount" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM VIDEOGAMES
		<if test="key != null">WHERE GAME_GENRE = #{key} </if>
	</select>

	<select id="gameGcTotalCount" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM VIDEOGAMES
		<if test="key != null">WHERE GAME_GENRE = #{key} </if>
		<if test="cla != null">AND GAME_CLASSFICATION = #{cla} </if>
	</select>

	<select id="gamePcTotalCount" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM VIDEOGAMES
		<if test="val != null">WHERE GAME_PLATFORM = #{val} </if>
		<if test="cla != null">AND GAME_CLASSFICATION = #{cla} </if>
	</select>
	<select id="gamePlatformTotalCount" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM VIDEOGAMES
		<if test="val != null">WHERE GAME_PLATFORM = #{val} </if>
	</select>

	<select id="gameClassficationTotalCount" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM VIDEOGAMES
		<if test="cla != null">WHERE GAME_CLASSFICATION = #{cla} </if>
	</select>

	<select id="gamePromotionTotalCount" resultType="int">
		SELECT COUNT(*)
		AS TOTAL
		FROM VIDEOGAMES
		WHERE GAME_PRICE_DISCOUNT != 0
	</select>

	<select id="gamePromotionGenreTotalCount" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM VIDEOGAMES
		<if test="key != null">WHERE GAME_PRICE_DISCOUNT != 0 AND GAME_GENRE =
			#{key}
		</if>
	</select>
			
	<insert id="gameInsert"
		parameterType="co.yedam.gamerz.game.service.GameVO">
		INSERT INTO VIDEOGAMES
		VALUES(#{gameId}, #{gameName},
		#{gameDeveloper}, #{gameReleaseDate}, #{gamePrice}, #{gameGenre},
		#{gamePlatform}, #{gameDetailAbout}, #{gamePriceDiscount},
		#{gameIllustMain}, #{gameIllustMini}, #{gameVideo},
		#{gameClassfication}, 'gameinfo.do'
		)
	</insert>

	<update id="gameUpdate">
		UPDATE VIDEOGAMES
		<set>
			<if test="gamePrice != null"> GAME_PRICE = #{gamePrice},</if>
			<if test="gameDetailAbout != null"> GAME_DETAILABOUT = #{gameDetailAbout},</if>
			<if test="gamePriceDiscount != null"> GAME_PRICE_DISCOUNT = #{gamePriceDiscount},</if>
			<if test="gameIllustMain != null"> GAME_ILLUST_MAIN = #{gameIllustMain},</if>
			<if test="gameIllustMini != null"> GAME_ILLUST_MINI = #{gameIllustMini},</if>
			<if test="gameVideo != null"> GAME_VIDEO = #{gameVideo}, </if>
			<if test="gameClassfication != null"> GAME_CLASSFICATION = #{gameClassfication}</if>
		</set>
		WHERE GAME_ID = #{gameId}
	</update>

	<delete id="gameDelete"
		parameterType="co.yedam.gamerz.game.service.GameVO">
		DELETE FROM VIDEOGAMES WHERE GAME_ID = #{gameId}
	</delete>

</mapper>