<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.gamerz.support.qna.Mapper.QnaMapper">

	<select id="qnaSelectList"
		resultType="co.yedam.gamerz.support.qna.service.QnaVO">
		SELECT * FROM QNA ORDER BY QNA_ID DESC
	</select>
	
	<select id="qnaSelect"
		resultType="co.yedam.gamerz.support.qna.service.QnaVO">
		SELECT * FROM QNA WHERE QNA_ID = #{qnaId}
	</select>

	<select id="qnaPaging"
		resultType="co.yedam.gamerz.support.qna.service.QnaVO">
	<![CDATA[
	SELECT *
	FROM ( SELECT ROWNUM RN, V.* FROM ( SELECT * FROM QNA ORDER BY QNA_ID DESC) V )
	WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
	]]>
	</select>

	<select id="qnaMyList"
		resultType="co.yedam.gamerz.support.qna.service.QnaVO">
		<![CDATA[
        SELECT *
        FROM ( SELECT ROWNUM RN, V.* FROM (SELECT * FROM QNA WHERE QNA_WRITERID = #{key} ORDER BY QNA_ID DESC) V )
        WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
    ]]>
	</select>

	<select id="qnaTotalCount" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM QNA
	</select>

	<select id="qnaMyTotalCount" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM QNA
		<if test="key != null">WHERE QNA_WRITERID = #{key} </if>
	</select>

	<insert id="qnaInsert"
		parameterType="co.yedam.gamerz.support.qna.service.QnaVO">
		<selectKey resultType="int" keyProperty="qnaId"
			order="BEFORE">
			SELECT CASE WHEN MAX(QNA_ID) IS NULL THEN 1
			ELSE MAX(QNA_ID) + 1
			END AS qnaId FROM QNA
		</selectKey>

		INSERT INTO QNA(QNA_ID, QNA_TITLE,
		QNA_SUBJECT, QNA_WRITER,
		QNA_WRITERID, QNA_REVIEW)
		VALUES(#{qnaId}, #{qnaTitle}, #{qnaSubject},
		#{qnaWriter}, #{qnaWriterId}, 'qna'||#{qnaId})
	</insert>

	<update id="updateQnaDone"
		parameterType="co.yedam.gamerz.support.qna.service.QnaVO">
		UPDATE QNA
		<set>
			<if test="qnaDone != null">QNA_DONE = '답변완료'</if>
		</set>
		WHERE QNA_ID =#{qnaId}
	</update>

	<update id="qnaUpdate"
		parameterType="co.yedam.gamerz.support.qna.service.QnaVO">
		UPDATE QNA
		<set>
			<if test="qnaTitle != null">QNA_TITLE = #{qnaTitle},</if>
			<if test="qnaSubject != null">QNA_SUBJECT = #{qnaSubject},</if>
			<if test="qnaDate != null">QNA_DATE = #{qnaDate},</if>
			<if test="qnaDone != null">QNA_DONE = #{qnaDone},</if>
		</set>
		WHERE QNA_ID = #{qnaId}
	</update>

	<delete id="qnaDelete"
		parameterType="co.yedam.gamerz.support.qna.service.QnaVO">
		DELETE QNA WHERE QNA_ID = #{qnaId}
	</delete>

</mapper>