<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.gamerz.community.post.mapper.PostMapper">

<select id="postSelectList" resultType="co.yedam.gamerz.community.post.service.PostVO">
	SELECT * FROM COMMUNITY ORDER BY POST_ID DESC
</select>

<select id="postSearchtList" resultType="co.yedam.gamerz.community.post.service.PostVO">	
	SELECT * FROM COMMUNITY WHERE
	<if test="key == 'title'">POST_TITLE LIKE '%'||#{val}||'%'</if>
	<if test="key == 'subject'">POST_SUBJECT LIKE '%'||#{val}||'%'</if>
	<if test="key == 'writer'">POST_WRITER LIKE '%'||#{val}||'%'</if>
	ORDER BY POST_ID DESC
</select>

<select id="postSelect" resultType="co.yedam.gamerz.community.post.service.PostVO">
	SELECT * FROM COMMUNITY WHERE POST_ID = #{postId}
</select>

<select id="postPaging"
	resultType="co.yedam.gamerz.community.post.service.PostVO">
	<![CDATA[
	SELECT *
	FROM ( SELECT ROWNUM RN, V.* FROM ( SELECT * FROM COMMUNITY ORDER BY POST_ID DESC ) V )
	WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
	]]> 
</select>

<select id="postPagingC"
	resultType="co.yedam.gamerz.community.post.service.PostVO">
	SELECT *
	FROM ( SELECT ROWNUM RN, V.* FROM ( SELECT * FROM COMMUNITY 
	WHERE 
	<if test="key == 'title'">POST_TITLE LIKE '%'||#{val}||'%'</if>
	<if test="key == 'subject'">POST_SUBJECT LIKE '%'||#{val}||'%'</if>
	<if test="key == 'writer'">POST_WRITER LIKE '%'||#{val}||'%'</if>
	 ORDER BY POST_ID DESC ) V )
	<![CDATA[
	WHERE RN > (#{pageNum} - 1) * #{amount} AND RN <= #{pageNum} * #{amount}
	]]> 
</select>

<select id="postTotalCount" resultType="int">
	SELECT COUNT(*) AS TOTAL
	FROM COMMUNITY
</select>

<select id="postTotalCnt" resultType="int">
	SELECT COUNT(*) AS TOTAL
	FROM COMMUNITY WHERE
	<if test="key == 'title'">POST_TITLE LIKE '%'||#{val}||'%'</if>
	<if test="key == 'subject'">POST_SUBJECT LIKE '%'||#{val}||'%'</if>
	<if test="key == 'writer'">POST_WRITER LIKE '%'||#{val}||'%'</if>
</select>

<insert id="postInsert" parameterType="co.yedam.gamerz.community.post.service.PostVO">
	<selectKey resultType="int" keyProperty="postId" order="BEFORE">
		SELECT CASE WHEN MAX(POST_ID) IS NULL THEN 1
         	   ELSE MAX(POST_ID) + 1 END  AS postId FROM COMMUNITY
	</selectKey>

	INSERT INTO COMMUNITY(POST_ID,POST_TITLE, POST_SUBJECT,POST_ATTACH,POST_ATTACH_DIR,POST_WRITER,POST_WRITER_ID, POST_HIT,POST_REVIEW,POST_PAGE)
	VALUES(#{postId},#{postTitle},#{postSubject},#{postAttach},#{postAttachDir},#{postWriter},#{postWriterId},0,'community'||#{postId},'postselect.do')
</insert>

<update id="postUpdate" parameterType="co.yedam.gamerz.community.post.service.PostVO">
	UPDATE COMMUNITY
	<set>
		<if test="postTitle != null">POST_TITLE = #{postTitle},</if>	
		<if test="postSubject != null">POST_SUBJECT = #{postSubject},</if>
		<if test="postAttach != null">POST_ATTACH = #{postAttach},</if>
		<if test="postAttachDir != null">POST_ATTACH_DIR = #{postAttachDir},</if>
		<if test="postCreateDate != null">POST_CREATE_DATE = #{postCreateDate},</if>  
	</set>
	WHERE POST_ID = #{postId}
</update>

<delete id="postDelete" parameterType="co.yedam.gamerz.community.post.service.PostVO">
	DELETE COMMUNITY WHERE POST_ID = #{postId}
</delete>

<update id="postUpdateHit" parameterType="int">
	UPDATE COMMUNITY SET POST_HIT = POST_HIT + 1 WHERE POST_ID = #{postId}
</update>
</mapper>